@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: Montserrat;
}
header{
  height: 100vh;
  background-image: url(Homepage_Merchandising.jpg);
  background-size: cover;
  background-position: center;
}.content{
 padding-top: 350px;
}
img{
  height: 50px;
  width: 100px;
  padding: 10px 10%;
}
.content h2{
  color: white;
  height: 100px;
  width: 300px;
  padding: 10px 10%;
 font-weight: 500;
 font-family: Montserrat;
  
}

.btn button{
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background-color: white;
  border: none;
  font-size: 15px;
  margin-top: 25px;
  cursor: pointer;
  font-family: Montserrat;
  color: black;
}
.btn button:hover{
  background-color: rgba(255, 255, 255, 0.019);
  color: white;
  border: 1px solid white;

}
.btn{
  padding: 10px 10%;
}
.container{
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  height: 100vh;
  text-align: center;
}
form{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.email{
  height: 50px;
  width:600px;
  color: black;
  border-radius: 4px;
  border: 1px solid rgb(153, 142, 142);
  padding-left: 10px;
  color: rgb(153, 142, 142);
  font-family: Montserrat;
}
#password{
  height: 50px;
  width:600px;
  color: black;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  border: 1px solid rgb(153, 142, 142);
  color: rgb(153, 142, 142);
  font-family: Montserrat;
}
.name{
  height: 50px;
  width:600px;
  color: black;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  border: 1px solid rgb(153, 142, 142);
  color: rgb(153, 142, 142);
  font-family: Montserrat;
}
.date{
  height: 50px;
  width:600px;
  padding-left: 10px;
  color: rgb(153, 142, 142);
  font-family: Montserrat;
}
.city{
  height: 50px;
  width:600px;
  color: black;
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  border: 1px solid rgb(153, 142, 142);
  color: rgb(153, 142, 142);
  font-family: Montserrat;
}
.check{
  height: 20px;
  width: 30px;
}
label{
  font-size: 10px;
}
button{
  height: 40px;
  width: 400px;
  color: rgb(255, 251, 251);
  background-color: black;
  border-radius: 4px;
  border: none;
}
#message{
  color: black;
  display:none;  
}
.sign{
  color: black;
  font-weight: 700;
  border-bottom: 2px solid black;
}
h1{
  font-size: 15px;
}
@media screen and (max-width: 660px){
  header{
    background-image: url(pexels-pixabay-159515.jpg);
  }
  .email{
    height: 40px;
    width:300px;
  }
  #password{
    height: 40px;
    width:300px;
  }
  .name{
    height: 40px;
    width:300px;
  }
  .date{
    height: 40px;
    width:300px;
  }
  .city{
    height: 40px;
    width:300px;
  }
 .check{
      height: 20px;
      width:20px;
  }
 label{
  font-size: 12px;
 }
 .get{
  font-size: 13px;
  margin-top: 10px;
 }
 .Create{
  font-size: 12px;
  text-align: center;
 }
 img{
  height: 50px;
  width: 80px;
 }
  .container{
    margin-left:20px;
  }
  button{
    height:40px;
    width:300px;
  }
  
}
